@import "../../node_modules/react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch');

.app {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vim);
    background-color: #f0f0f0;
}

.app-logo {
    height: 25vmin;
    border-radius: 10%;
}

.background {
    background-color: #f0f0f0;
}

.br {
    display: block;
    content: "";
    margin-top: 0;
}

.centralize {
    text-align: center;
    align-items: center;
}

.description {
    font-size: 1.6em;
}

.label {
    font-size: small;
    font-weight: bold;
}

.logo-title {
    padding-top: 10px;
    font-family: 'Londrina Sketch';
    font-size: 60px;
    color: black;
}

.margin-horizontal {
    padding-left:20px;
    padding-right:20px;
    background-color: #f0f0f0
}

.title {
    font-size: 10em;
    font-weight: bold;
}

.video-item {
    display: flex !important;
    cursor: pointer;
}

.video-item.item img {
    max-width: 180px;
}