@import "../../node_modules/react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch');

.about-picture {
    height: 30vmin;
    border-radius: 10%;
}

.app {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.background {
    background-color: #f0f0f0;
}

.br {
    display: block;
    content: "";
    margin-top: 0;
}

.contact-title {
    font-size: 10em;
}

.description {
    font-size: 1.6em;
}

.label {
    font-size: small;
    font-weight: bold;
}

.header-title {
    padding-top: 10px;
    font-family: 'Londrina Sketch';
    font-size: 60px;
    color: black;
}