@import "../../node_modules/react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css?family=Beth+Ellen');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css?family=Roboto');

a {
    color: #00006f;
    font-size: 20px;
    font-weight: bold;
}

.nav-link {
    font-family: 'Bebas Neue';
    font-size: 30px;
    color: #6e6e6e;
}

a.nav-link:hover {
    color: #383838;
}

.app {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-home {
    background-color: black;
}

.background-about {
    background-image: url("background-about.jpg");
}

.background-contact {
    background-image: url("background-contact.jpg")
}

.br {
    display: block;
    content: "";
    margin-top: 0;
}

.contact-title {
    font-size: 10em;
}

.description {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.header-text {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.label {
    font-size: small;
    font-weight: bold;
}

.navigation {
    height: 95px;
    text-align: center;
}

.navigation-title {
    padding: 30px 0px 10px 0px;
    font-family: 'Beth Ellen';
    font-size: 50px;
    color: black;
    text-align: center;

}

.pad {
    padding: 30px 0 0 0;
}