@import "../../node_modules/react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css?family=Beth+Ellen');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell');

a {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

.nav-link {
    font-family: 'Schoolbell';
    font-size: 30px;
    color: #5D6D7E;
    padding: 15px 10px 10px 10px;
}

a.nav-link:hover {
    color: #000000;
}

.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-home {
    background-color: black;
}

.background-about {
    background-image: url("background-about.jpg")
}

.background-contact {
    background-image: url("background-contact.jpg")
}

.br {
    display: block;
    content: "";
    margin-top: 0;
}

.contact-title {
    font-size: 10em;
}

.description {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.header-text {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.label {
    font-size: small;
    font-weight: bold;
}

.navigation {
    height: 95px;
    text-align: center;
}

.navigation-title {
    padding: 30px 0px 10px 0px;
    font-family: 'Beth Ellen';
    font-size: 55px;
    color: black;
    text-align: center;

}

.pad {
    padding: 30px 0 0 0;
}

.rotate {
    animation: rotation 60s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .moveArea {
    width: 100vw;
    height: 30vh;
    padding: 5% 5%;
  }
  .containerOwl {
    width: 100%;
    position: relative;
  }
  .eye {
    position: absolute;
    border-radius: 50%;
    height: 27px;
    width: 27px;
    background: #ffe033;
  }
  .eye:after { /*pupil*/
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 13px;
    height: 13px;
    background: #000;
    border-radius: 50%;
    content: " ";
  }

  .unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

 html {
  overflow: hidden;
 }